# Contact API
# add environment variables for your email provider here(We use Resend in this project)
RESEND_API_KEY = Dummyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
NEXT_PUBLIC_SUPABASE_URL=dummyyyyyyyyyyy
NEXT_PUBLIC_SUPABASE_ANON_KEY=dumyyyyyyy
